In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.

In [2]:
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2021-05-26 21:50:54,71.9167,114.0833,37.00,94,100,10.45
1,1,Goderich,CA,2021-05-26 21:50:54,43.7501,-81.7165,64.90,88,99,6.91
2,2,Tasiilaq,GL,2021-05-26 21:47:15,65.6145,-37.6368,41.16,89,100,31.94
3,3,Sistranda,NO,2021-05-26 21:47:54,63.7256,8.8340,49.96,89,5,23.67
4,4,Puerto Ayora,EC,2021-05-26 21:50:55,-0.7393,-90.3518,84.16,89,40,8.01

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
locations = city_data_df[["Lat", "Lng"]]

max_temp = city_data_df["Max Temp"]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Puerto Ayora,EC,2021-05-26 21:50:55,-0.7393,-90.3518,84.16,89,40,8.01
5,5,Hobyo,SO,2021-05-26 21:50:55,5.3505,48.5268,78.84,78,82,20.33
7,7,Kununurra,AU,2021-05-26 21:50:55,-15.7667,128.7333,76.98,50,65,9.22
8,8,Avarua,CK,2021-05-26 21:50:56,-21.2078,-159.7750,82.45,78,75,8.05
9,9,Lungi,SL,2021-05-26 21:50:56,9.2212,-12.6831,77.36,86,82,5.64
16,16,Rikitea,PF,2021-05-26 21:50:58,-23.1203,-134.9692,76.03,72,91,20.31
18,18,Buena Vista,US,2021-05-26 21:50:58,43.4203,-83.8986,77.29,44,40,21.85
24,24,Panalingaan,PH,2021-05-26 21:51:00,8.7842,117.4231,79.29,82,89,2.93
27,27,Atuona,PF,2021-05-26 21:46:34,-9.8000,-139.0333,79.02,76,72,11.90
28,28,Hilo,US,2021-05-26 21:47:38,19.7297,-155.0900,80.11,74,90,9.22

In [13]:
preferred_cities_df.count()

City_ID       170
City          170
Country       169
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4   Puerto Ayora      EC     84.16  -0.7393  -90.3518
5          Hobyo      SO     78.84   5.3505   48.5268
7      Kununurra      AU     76.98 -15.7667  128.7333
8         Avarua      CK     82.45 -21.2078 -159.7750
9          Lungi      SL     77.36   9.2212  -12.6831
16       Rikitea      PF     76.03 -23.1203 -134.9692
18   Buena Vista      US     77.29  43.4203  -83.8986
24   Panalingaan      PH     79.29   8.7842  117.4231
27        Atuona      PF     79.02  -9.8000 -139.0333
28          Hilo      US     80.11  19.7297 -155.0900

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   ## Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))